.root {
    main-color: rgb(237, 255, 242);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: linear-gradient(to bottom right, red, yellow)
}

.text-field {
    -fx-background-color: #d9ffe2;
    -fx-font: 20px "Arial";
    -fx-border-color: white;
    -fx-border-radius: 15 0 0 0;
    -fx-background-radius: 15 0 0 0;
}

.button {
    -fx-background-color: rgb(159, 245, 240);
    -fx-font: italic bold 16px "Arial";
    -fx-border-radius: 0 15 0 0;
    -fx-background-radius: 0 15 0 0;
}

.button:hover {
    -fx-background-color:cyan;
}

.button:pressed {
    -fx-background-color:orange;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #1c1b16;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

